<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.admin.notice.model.dao.AdminCalendarMapper">

	<select id="findAllEvents"
			resultType="EventAdminDTO">
		SELECT
				  CALENDAR_NO calendarNo
				, MEMBER_NO eventWriter
				, CATEGORY_NO categoryNo
				, START_DATE AS "start"
				, END_DATE AS "end"
				, CALENDAR_TITLE title
		FROM
				CL_CALENDAR
		WHERE
				STATUS = 'Y'
	</select>
	
	<insert id="addEvent"
			parameterType="EventAdminDTO">
		INSERT
		INTO
				CL_CALENDAR
		VALUES
				(
				  SEQ_CALENDAR_NO.NEXTVAL
				, #{eventWriter}
				, #{categoryNo}
			   	, #{start}
			   	, #{end}
			    , #{title}
			    , 'Y'
				)
	</insert>
	
	<update id="updateEvent"
			parameterType="EventAdminDTO">
		UPDATE
				CL_CALENDAR
		SET
				  START_DATE = #{start}
				, END_DATE = #{end}
				, CALENDAR_TITLE = #{title}
				, CATEGORY_NO = #{categoryNo}
		WHERE
				CALENDAR_NO = #{calendarNo}
	</update>
	
	<delete id="deleteEvent"
			parameterType="Long">
		DELETE
		FROM
				CL_CALENDAR
		WHERE
				CALENDAR_NO = #{calendarNo}
	</delete>
	
	<select id="findAllCategory">
		SELECT
				  CATEGORY_NO categoryNo
				, CATEGORY_NAME categoryName
		FROM 
				CL_CALENDAR_CATEGORY
	</select>
</mapper>