<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.notice.model.dao.CalendarMapper">
	
	<select id="findAllEvents"
			resultType="EventDTO">
		SELECT
				  CALENDAR_NO calendarNo
				, MEMBER_NO eventWriter
				, CATEGORY_NO categoryNo
				, START_DATE startDate
				, END_DATE endDate 
				, CALENDAR_TITLE title
		FROM
				CL_CALENDAR
		WHERE
				STATUS = 'Y'
	</select>
	
	<select id="findAllCategory">
		SELECT
				  CATEGORY_NO categoryNo
				, CATEGORY_NAME categoryName
		FROM
				CL_CALENDAR_CATEGORY
	</select>
				  
</mapper>