<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.event.model.dao.EventMapper">

    <select id="selectMainEvent" resultType="EventCampaignDTO">
        SELECT
            EVENT_ID AS eventId,
            COMPANY_NAME AS companyName,
            EVENT_TITLE AS eventTitle,
            MAX_PARTICIPANTS AS maxParticipants,
            CURRENT_PARTICIPANTS AS currentParticipants,
            ROUND((CURRENT_PARTICIPANTS / MAX_PARTICIPANTS) * 100, 2) AS participationRate
        FROM CL_EVENT
        WHERE EVENT_ID = 1
    </select>

    <select id="countParticipation" resultType="int">
        SELECT COUNT(*)
        FROM CL_EVENT_PARTICIPANT
        WHERE EVENT_ID = #{eventId}
          AND MEMBER_NO = #{memberNo}
    </select>

    <insert id="insertParticipant">
        INSERT INTO CL_EVENT_PARTICIPANT
        (PARTICIPANT_ID, EVENT_ID, MEMBER_NO)
        VALUES
        (CL_EVENT_PARTICIPANT_SEQ.NEXTVAL, #{eventId}, #{memberNo})
    </insert>

    <update id="increaseParticipant">
        UPDATE CL_EVENT
        SET CURRENT_PARTICIPANTS = CURRENT_PARTICIPANTS + 1
        WHERE EVENT_ID = #{eventId}
          AND CURRENT_PARTICIPANTS &lt; MAX_PARTICIPANTS
    </update>

    <select id="selectEventCount" resultType="EventCampaignDTO">
        SELECT
            EVENT_ID AS eventId,
            MAX_PARTICIPANTS AS maxParticipants,
            CURRENT_PARTICIPANTS AS currentParticipants,
            ROUND((CURRENT_PARTICIPANTS / MAX_PARTICIPANTS) * 100, 2) AS participationRate
        FROM CL_EVENT
        WHERE EVENT_ID = #{eventId}
    </select>


       
</mapper>