<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.member.model.dao.MemberMapper">
	
	<select id="loadUser" parameterType="string" resultType="com.kh.member.model.dto.MemberDTO">
		SELECT
		       MEMBER_NO memberNo
		     , MEMBER_ID memberId
		     , MEMBER_PWD memberPwd
		     , NICKNAME
		     , EMAIL
		     , ADDRESS_LINE_1 addressLine1
		     , ADDRESS_LINE_2 addressLine2
		     , ROLE
		     , ENROLL_DATE enrollDate
		  FROM
		       CL_MEMBER
		 WHERE
		       STATUS = 'Y'
		   AND
		       MEMBER_ID = #{username}
		
	</select>
	
		<select id="loadUserByUserNo" parameterType="_long" resultType="com.kh.member.model.dto.MemberDTO">
		SELECT
		       MEMBER_NO memberNo
		     , MEMBER_ID memberId
		     , MEMBER_PWD memberPwd
		     , NICKNAME
		     , EMAIL
		     , ADDRESS_LINE_1 addressLine1
		     , ADDRESS_LINE_2 addressLine2
		     , ROLE
		     , ENROLL_DATE enrollDate
		  FROM
		       CL_MEMBER
		 WHERE
		       STATUS = 'Y'
		   AND
		       MEMBER_NO = #{userNo}
		
	</select>
	
	<select id="countByMemberId" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		       CL_MEMBER
		 WHERE
		       MEMBER_ID = #{memberId}
		
	</select>
	
	<select id="countByNickName" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM 
		       CL_MEMBER
		 WHERE
		       NICKNAME = #{nickName}
	</select>
	
	<select id="countByEmail" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		       CL_MEMBER
		 WHERE
		       EMAIL = #{email}
	</select>
	
	<insert id="signUp" parameterType="com.kh.member.model.vo.MemberVO">
		INSERT
		  INTO
		       CL_MEMBER
		VALUES
		       (
		       SEQ_MEMBER_NO.NEXTVAL
		     , #{memberId}
		     , #{memberPwd}
		     , #{nickName}
		     , #{email}
		     , #{addressLine1}
		     , #{addressLine2}
		     , #{role}
		     , SYSDATE
		     , DEFAULT
		       )
	</insert>
	
	<update id="updateMember" parameterType="com.kh.member.model.dto.MemberDTO">
		UPDATE
		       CL_MEMBER
		   SET
		       NICKNAME = #{nickName}
		     , EMAIL = #{email}
		     , ADDRESS_LINE_1 = #{addressLine1}
		     , ADDRESS_LINE_2 = #{addressLine2}
		 WHERE
		       MEMBER_NO = #{memberNo}
		   
	</update>
	
	<update id="deleteMember" parameterType="_long">
		UPDATE
		       CL_MEMBER
		   SET
		       STATUS = 'N'
		 WHERE
		       MEMBER_NO = #{memberNo}
		
	</update>
	
	<select id="selectMemberList" resultType="MemberDTO" parameterType="map">
		SELECT
		       MEMBER_NO memberNo
		     , MEMBER_ID memberId
		     , NICKNAME
		     , ENROLL_DATE enrollDate
		     , STATUS
		  FROM
		       CL_MEMBER
		 WHERE
		       ROLE = 'ROLE_USER'
		    <if test="keyword != ''">
		   AND
			   NICKNAME LIKE '%' || #{keyword} || '%'
			</if>
		 ORDER
		    BY
		    <choose>
				<when test="orderBy == 'memberId'">
					MEMBER_ID ASC
				</when>
				<when test="orderBy == 'enrollDate'">
					ENROLL_DATE DESC
				</when>
				<when test="orderBy == 'nickName'">
					NICKNAME ASC
				</when>
				<otherwise>
		       		MEMBER_NO DESC
				</otherwise>
			</choose>
		
		
		
	</select>
	
	<update id="restoreMember" parameterType="_long">
		UPDATE
		       CL_MEMBER
		   SET
		       STATUS = 'Y'
		 WHERE
		       STATUS = 'N'
		   AND
		       MEMBER_NO = #{memberNo}
		   
	</update>
	
	<select id="selectBoardsByMemberNo" resultType="BoardDTO" parameterType="_long">
		
		SELECT
			   BOARD_NO boardNo
		     , BOARD_TITLE boardTitle
		     , ENROLL_DATE enrollDate
		  FROM
		       CL_BOARD
		 WHERE
		       MEMBER_NO = #{memberNo}
		   AND
		       STATUS = 'Y'
		 ORDER
		    BY
		       ENROLL_DATE DESC
		OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY
		
		
	</select>
	
	<select id="selectActivityBoardsByMemberNo" resultType="ActivityListDTO" parameterType="_long">
		SELECT
		       ACTIVITY_NO activityNo
		     , ACTIVITY_TITLE activityTitle
		     , ENROLL_DATE enrollDate
		  FROM
		       CL_ACTIVITY_BOARD
		 WHERE
		       MEMBER_NO = #{memberNo}
		   AND
		       STATUS = 'Y'
		 ORDER
		    BY
		       ENROLL_DATE DESC
		OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY
	</select>
	
	
	
</mapper>